@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Germania+One&display=swap');


$whiteColor: #ffffff;
$blackColor: black;
$font-family: 'Quicksand', sans-serif;
$font-family2: 'Monoton', cursive;

.loading{
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999999999999999999999;
  background-color: #dee2e6d1;
}
.Start   { 
  display: block;
  margin-top: 1%;
  width: 20%;
  text-align: center;
h2{
  background-color: lightgrey;
}
}

.ShTo{
  width: 4%;
  background: white;
  border-radius: 5%;
  margin: 1%;
  position: fixed;
  right: 1px;
  top: 1px;
 }
.MojaTab{
  tr{
    td{
    width: 50%;
    margin: 10px;
    padding: 1%;
    margin: 1%;
    }
  }

}
.ShopiMajster{
  width: 100%;
  height: 100%;
  color: #fff;
  }
.Dolce{
    text-align: center;
    background-color: black;
    border-radius: 10px;
    color: white;
}
.Frank{
  text-align: center;
  background-color: black;
  border-radius: 10px;
  color: white;
}
.NewP{
  
  margin: 5%;
  padding: 5%;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  border-radius: 20px;
  b{
    background-color: black;
    width: 100%;
    display: block;
    text-align: center;
  }
  i{
    background-color: #ffc107;
    width: 100%;
    display: block;
    text-align: center;
  }
  img{
    width: 100%;
    height: auto;
  }
}
.Pp{
  color: black;
  font-size: 30px;
  background: lightgoldenrodyellow;
  text-align: center;
}
  .KamilBCall{
    display: block;
    position: absolute;
    margin-top: 10%;
    left: 10%;
    width: 80%;
    background: yellow;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

@keyframes line-anim{
  to{

    stroke-dashoffset: 0;
  }
}
@keyframes Gradient{
  0%{
    background-position: 0% 50%;
    }
    50%{
      background-position: 100% 50%;
      }
      100%{
        background-position: 0% 50%;
        }
 
 }

 #instaKamil{
   width: 50%;
   img{
     width: 65%;
    }
 }

 .FootCont{
  width: 70%;
  float: right;
  display: flex;
  div{
    p{width: 100%;}

  }
  p{width: 30%;
    margin: 0 auto;}
}
.class{
  width: 50%;
  float: left;
  display: flex;

}
.Zmianyyy{
  position: relative !important;
}
#HomeCanvas{
    svg{

      mask{
        path:nth-child(1){
          stroke-dasharray: 127;
          stroke-dashoffset: 127;
        }
        path:nth-child(2){
          stroke-dasharray: 235;
          stroke-dashoffset: 235;
        }
        path:nth-child(3){
          stroke-dasharray: 330px;
          stroke-dasharray: 330px;
        }
        path:nth-child(4){
          stroke-dasharray: 440px;
          stroke-dasharray: 440px;
        }
      }
    }

}
.nav-button{

  width: 25%;
  float: left;
  text-align: center;
  list-style: none; 

}
.Inve{
display: flex;
padding-top: 3%;
}
.Order{
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
    width: 50%;
    display: block;
    float: left;
    height: auto;
    margin-top: 4%;
    .Half{
     
      width: 50%;
      float: left;
     
  }
}
.InvContainer{
  background: linear-gradient(-45deg, rgb(246, 247, 231), rgb(134, 186, 245), rgb(135, 240, 187), rgb(234, 161, 236));
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  margin-top: 4%;
 width: 50%;
 float: left;
  div{ 
    h1{
     padding-top: 8%;
     text-align: center;
     width: 100%;
     color: midnightblue;
     }
  }
 }
.nav-closed{
h3{
  
    text-align: center;
    margin: 1%;
    color: darkslategrey;
}


ul{

  li{
    display: flex;
    text-align: center;
    }
    p{
      
        text-align: center;
        width: 100%;
    
    }

}
}
.BoodyBox{
  width: auto !important;
  height: 30em;
  min-height: auto !important;

  canvas{
    width: 100% !important;
    object-fit: cover;
    margin: 0 auto;
    padding: 0;
  }
}
.newCanvas{
    padding: 2%;
    width: 100%;
      position: relative;
      display: inline-block;
  
}
.showing{
z-index: 99;
background: rgba(255, 255, 255, 0.67);
min-height: 300px;
width: 40%;
padding: 1%;
margin: 2%;
}
.BodyBox2{
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
min-height: 250px;

}
.sto{
  fill:#231F20;

}
.container-fluid{

  padding-left: 0 !important;
}
* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: $font-family;
}

.Germania{
  h1{
  font-family: 'Germania One', cursive;}
}
.KamilaStopka{   
  width: 100% !important;
  height: auto;

  canvas{
      width: 100%;
      height: auto;
  }

}
.inputDiv {
    width: 500px;
    margin: auto;
}



.ButtonBasi {
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  text-align: center;
  border-radius: 10px;
  width: 100%;
  text-decoration: none!important;
  min-width: auto;
  min-height: 50px;
  color: black;
  padding: 5%;
  font-family: $font-family2;
  canvas{
    width: 100% !important;
    border-radius: 4px;
    background: none;
    width: 100%!important;
  }

}

.timeline {
margin-top: 10% !important;
}
.Products{
  
    display: block;
    width: 80%;
    left: 10%;
    margin-top: 10%;
    text-align: center;
    border-radius: 5px;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    z-index: 9;

    h2{
        width: 100%;
        text-align: center;
    }

}
.NowyL{
  a{
color: white;
  }
}
.kamciaNews{
  opacity: 1;
  width: 50%;
  float: left;
  height: auto;
  display: block;
}

.Ahh{
  position: absolute;
  top: 14%;
}
.KamciaButton{
  position: absolute;
}
.KamilHeader{
  padding: 0;
  display: block;
  min-height: 80px;
  z-index: 99999999999;
  margin: 0 auto;
  padding-right: 0 !important;
  position: absolute;
  width: 100% !important;
  background: none;

  .Uno{
  margin-left: 0;
  margin-right: 0;
  min-height: 100px;
      button:nth-child(1){
        right: 10%;
        position: absolute; 
        z-index: 9999999999999999999999999999999;
        a{
        text-decoration: none;
        font-family: "Monoton", cursive !important;
        color: blueviolet;
        }
      }
      button:nth-child(2){
        left: 10%;
        font-family: "Monoton", cursive !important;
        color: black;
        font-weight: bold;
        z-index: 9999999999999999999999999999999;
        background: white;
        border: none;
      }

  }
}
.clock::before{
content: '';
position: absolute;
width: 15px;
height: 15px;
background: brown;
z-index: 100000;
border: 2px solid #fff;
}
.clock{
width: 300px;
height: 300px;
display: flex;
justify-content: center;
align-items: center;
background: #fff;
border-radius: 50%;
border: 10px solid black;


.hour{
  .hr::before{content: '';position: absolute;width:8px;height: 80px;background: grey;z-index: 10;border-radius: 6px 6px 0 0;}
  .mn::before{content: '';position: absolute;width:4px;height: 90px; background: #9795f0; z-index: 11; border-radius: 6px 6px 0 0;}
  .sc::before{content: '';position: absolute;width:2px;height: 100px; background: #e14fad; z-index: 12; border-radius: 6px 6px 0 0;}
  .hour{
    .hr{
    display: flex;justify-content: center;position: absolute;border-radius: 50%;width: 160px;height: 160px;
    }}
  .min{
    .mn{display: flex;justify-content: center;position: absolute;border-radius: 50%;width:190px;height: 190px;}
    }
  .sec{
    .sc{display: flex;justify-content: center;position: absolute;border-radius: 50%;width:230px;height: 230px;}
    }
}


}
.ApiBackExpress{
text-align: center;
margin-top: 3%;

}
.AdminPanelAdd{
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  padding: 10%;
  text-align: center;
  z-index: 999999999999999999999999;
  position: relative;
}
  .st0{
    background-image: linear-gradient(to top, #007adf 0%, #00ecbc 100%);
  }


  .st1{fill:rgb(49, 120, 228);}
  .ReturnHome {
    display: block;
    width: 40%;
    padding: 1%;
    margin: 1%;
    float: left;
}
  .KamilaTlo{
    background: yellow;
    z-index: 1;
    position: absolute;
    top:0%;
  }
.HomeFooter{
  padding: 1%;
  color: '#f00000';
  background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);
}
.nav-open{
  position: relative;
  .iPhoneFly{
    position: relative;
  left: 1%;
  top:30%;
  z-index: 9;
  width: 10%;
  }
  .iPhones{
  z-index: 99;
  }
}
.nav-links{
    z-index: 99;
    display: block;
    height: auto;
    min-height: 50px;
}
.KamilHeader { 
  .Uno{
    width: 100%;
    float: left;
  }
}

.Nowy{
    display: block;
    width: 100%;
    height: auto;
    min-height: 300px;
    background-color: red;
}

.marquee-inner{
  -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 10s linear infinite;
    -webkit-animation: scroll-left 10s linear infinite;
    animation: scroll-left 10s cubic-bezier(0, 0, 0.23, 0.93) infinite !important;
}
.GridKamil {
  float: left;
  min-height: 300px; 
  background-color: white;
  border-radius: 10px;
  margin: 4%;
}
.Counter{
  right: 2px;
  top: 2px;
  border-radius: 50px;
}


input[type=number] {
    width: 33.33%;
}
.kamcia{
      float: left;
      width: 100%;
      height: auto;
      display: block;
      // min-height: 100px;
}
body {
  display: block;
  color: #212529;
  text-align: left;
  height: 100%;
  width: 100%;
  background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
  
  }
  .KamilaStopka{


  width: 100% !important;
  min-width: 20%;
  min-height: 100px;
    canvas{
     width: 100% !important;
     }
  }

.CenaO{
    color: yellow;
}
.nameO{
  color: black;
  margin: 0;
}
  .pok{
    color: white;
  }
 .MyCv{
  position: relative;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);

  .WitamywCv{
    transform: translateX(0px);
    left: -20%;
    width:20%;
    position: absolute;
      transform: translateX(960px);
      background-color: black;
      color: white;
      padding: 5%;
      font-size: 25px;
  
}
 }
  .MainCointainer{
  background: $blackColor;
  width:100%;
  margin-top: 3%;
  min-height: 100px;
  }
  .myCanva{
    background-color: white;
    width: 98%;
  }
  
  .FootBasi {
    width: 100%;
    display: inline-block;
    height: 100%;
    min-height: 50px;
    padding: 2%;
    color: aliceblue;
    text-align: center;
    background-color: $blackColor;
    z-index: 9999999999999999;
        a{
          width: 20%;
          float: left;
          display: block;
        }
        p{
          padding: 0;
          width: 100%;
          margin: 0;
          font-family: $font-family2 !important;
          letter-spacing: 2px;
          color: yellow;
          padding-top: 3%;
          padding-bottom: 3%;
          }
  }
  .KamilaMenu{ 

    width: 100%;
    max-width: 100%;

    li{
    list-style: none;
    width: 25%;
    float: left;
    padding: 1%;
    background: none !important;
    }
    canvas{
      background: none !important;

    }
    a{
      background: none !important;
      text-decoration: none !important;
    }
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  .KamciaButton{
    margin-left: 1%;
    margin-right: 1%;
      margin-top: 2%;
    svg{
      z-index: 999999999999999999999999999999;
    
    }
  }

  #faceKamil{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    img{
      text-align: center;
      width: 65%;
      margin: 0 auto;
      }
  }
  .ShopiMajster{
    margin: 0;
    padding: 0;
    }
  .Koszyk{
        width: 3%;  
        background: none;
        position: relative;
      
          border: none;
         .open{
          width: 300%;
          border: 1px solid white;
          position: absolute;
          
      }

    
    }
  .LogoiMajster {
    z-index: 9;
    background: none;
    text-align: center;
    max-height: 10px;
    width: 100%;
    top: 8%;
    left: 0;
    animation: fill 0.5s ease forward 3s;
    path:nth-child(1){ stroke-dasharray: 50px; stroke-dashoffset: 10px;animation: line-anim 2s ease forwards 0.6s}
    path:nth-child(2){ stroke-dasharray: 50px; stroke-dashoffset: 10px;animation: line-anim 2s ease forwards 0.9s}
    path:nth-child(3){ stroke-dasharray: 50px; stroke-dashoffset: 10px;animation: line-anim 2s ease forwards 1.2s}
    path:nth-child(4){ stroke-dasharray: 50px; stroke-dashoffset: 10px;animation: line-anim 2s ease forwards 1.5s}
    path:nth-child(5){ stroke-dasharray: 50px; stroke-dashoffset: 10px;animation: line-anim 2s ease forwards 1.8s}
    path:nth-child(6){ stroke-dasharray: 50px; stroke-dashoffset: 10px;animation: line-anim 2s ease forwards 2.1s}
    path:nth-child(7){ stroke-dasharray: 50px; stroke-dashoffset: 10px;animation: line-anim 2s ease forwards 2.4s}
    path:nth-child(8){ stroke-dasharray: 50px; stroke-dashoffset: 10px;animation: line-anim 2s ease forwards 2.7s}
    rect{
    background: none;
    fill: none;
    }
    svg {
    background: none;
    top: 8%;
    z-index: 1;
    fill: none;
    width: 40%;
    max-height: 50px;
    }
    
}
  .App {
  
    text-align: center;
  
  
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .div1 {
    background-color: red;
    height: 400px;
    width: 100%;
  }
  
  .div2 {
    background-color: green;
    height: 400px;
    width: 100%;
  }
  
  .div3 {
    background-color: blue;
    height: 400px;
    width: 100%;
  }
  
  .bottomSpacing {
    height: 500px;
  }

  .nav-links{
  li{
  img{
    width: 80%;
    margin: 1%;
    }
  }  
} 
.NewLogin{

    width: 100%;
    text-align: left;
    padding: 5%;


}  

.Step1{
  
    background: white;
    border-radius: 10px;
    padding: 1%;
    color: black;


  div:nth-child(1){
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    }
h1{
  text-align: left;
}
h1{display: none;}

}
.AdminMajster{
  
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
      .KamilaForm{
        z-index: 999;
        position: relative;
        text-align: center;
        width: 70%;
        margin-left: 15%;
        margin-bottom: 10%;
        padding: 5%;
        background: none;
        border-radius: 10px;
        
        input{
          width: 98%;
          margin: 1%;
          text-align: center;
        }
        h1{
          margin-top: 5%;
          margin-bottom: 5%;
        }
      } 
      h2{
        text-align: center;
        margin-top: 5%;
        color: crimson;
      }
      
    }

    
  .topSpacing {
    height: 500px;
    margin: 10%;
    font-size: 40px;
    background-color: grey;
  }
  .Stm{
    background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
    text-align: center;
    padding: 1%;
  }
  .AdminPV{
    width: 95%;
    padding: 2%;
    border: 1px solid black;
    margin: 2%;
    margin-right: 1% !important;
    margin-left: 1% !important;
  }
  .NoweKam{
    border: none;
    padding: 2px;
    border-radius: 5px;
    margin-left: 10%;
}