@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Germania+One&display=swap');


$whiteColor: #ffffff;
$blackColor: black;
$font-family: 'Quicksand', sans-serif;
$font-family2: 'Monoton', cursive;

.ShopiMajster{
  width: 100%;
  height: 100%;
  color: #fff;
  background: linear-gradient(-45deg, rgb(246, 247, 231), rgb(134, 186, 245), rgb(135, 240, 187), rgb(234, 161, 236));
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  }
.Dolce{
  
    text-align: center;
    background-color: black;
    border-radius: 10px;


}
  .KamilBCall{
    display: block;
    position: absolute;
    margin-top: 10%;
    left: 10%;
    width: 80%;
}

@keyframes line-anim{
  to{

    stroke-dashoffset: 0;
  }
}
@keyframes Gradient{
  0%{
    background-position: 0% 50%;
    }
    50%{
      background-position: 100% 50%;
      }
      100%{
        background-position: 0% 50%;
        }
 
 }

#HomeCanvas{
  background-image: linear-gradient(to right, #434343 0%, black 100%);
    svg{

      mask{
        path:nth-child(1){
          stroke-dasharray: 127;
          stroke-dashoffset: 127;
        }
        path:nth-child(2){
          stroke-dasharray: 235;
          stroke-dashoffset: 235;
        }
        path:nth-child(3){
          stroke-dasharray: 330px;
          stroke-dasharray: 330px;
        }
        path:nth-child(4){
          stroke-dasharray: 440px;
          stroke-dasharray: 440px;
        }
      }
    }

}
.nav-button{

  width: 25%;
  float: left;
  text-align: center;
  list-style: none; 

}
.nav-closed{
h3{
  
    text-align: center;
    margin: 1%;
    color: darkslategrey;
  

}
}
.BoodyBox{
  width: auto !important;
  height: 30em;
  min-height: auto !important;

  canvas{
    width: 100% !important;
    object-fit: cover;
    margin: 0 auto;
    padding: 0;
  }
}
.newCanvas{
    padding: 2%;
    width: 100%;
      position: relative;
      display: inline-block;
  
}
.showing{
z-index: 99;
background: rgba(255, 255, 255, 0.67);
min-height: 300px;
width: 40%;
padding: 1%;
margin: 2%;
}
.BodyBox2{
background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
min-height: 250px;

}
.container-fluid{

  padding-left: 0 !important;
}
* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: $font-family;
}

.Germania{
  h1{
  font-family: 'Germania One', cursive;}
}
.KamilaStopka{   
  width: 100% !important;
  height: auto;

  canvas{
      width: 100%;
      height: auto;
  }

}
.inputDiv {
    width: 500px;
    margin: auto;
}



.ButtonBasi {
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  text-align: center;
  border-radius: 10px;
  width: 100%;
  text-decoration: none!important;
  min-width: auto;
  min-height: 50px;
  color: black;
  padding: 5%;
  font-family: $font-family2;
  canvas{
    width: 100% !important;
    border-radius: 4px;
    background: none;
    width: 100%!important;
  }

}

.timeline {
margin-top: 10% !important;
}
.Products{
  
    display: block;
    width: 80%;
    left: 10%;
    margin-top: 10%;
    text-align: center;
    border-radius: 5px;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    z-index: 9;

    h2{
        width: 100%;
        text-align: center;
    }

}


.KamilHeader{
  padding: 1%;
  z-index: 99999999999999999;
  display: block;
  min-height: 80px;
  position: fixed;
  width: 100%;
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);

  .Uno{
  margin-left: 0;
  margin-right: 0;
      button:nth-child(1){
        right: 10%;
        position: absolute; 
        a{
        text-decoration: none;
        font-family: "Monoton", cursive !important;
        color: blueviolet;
        }
      }
      button:nth-child(2){
        left: 10%;
        position: absolute;
        font-family: "Monoton", cursive !important;
        color: black;
        font-weight: bold;
        background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
      }

  }
}

.AdminPanelAdd{
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  margin: 10%;
  padding: 10%;
  text-align: center;
  z-index: 999999999999999999999999;
  position: relative;
}
  .st0{
    background-image: linear-gradient(to top, #007adf 0%, #00ecbc 100%);
  }


  .st1{fill:rgb(49, 120, 228);}


  .KamilaTlo{
    background: yellow;
    z-index: 1;
    position: absolute;
    top:0%;
  }
.HomeFooter{
  padding: 1%;
  color: '#f00000';
  background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);
}
.nav-open{
  position: relative;
  .iPhoneFly{
    position: relative;
  left: 1%;
  top:30%;
  z-index: 9;
  width: 10%;
  }
  .iPhones{
  z-index: 99;
  }
}
.nav-links{
  
    z-index: 99;
    display: block;
    height: auto;
    min-height: 50px;


}
body{
  background: black;

}
.KamilHeader { 
  .Uno{
    width: 100%;
    float: left;
  }
}

.Nowy{
  
    display: block;
    width: 100%;
    height: auto;
    min-height: 300px;
    background-color: red;


}

.marquee-inner{
  -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 10s linear infinite;
    -webkit-animation: scroll-left 10s linear infinite;
    animation: scroll-left 10s cubic-bezier(0, 0, 0.23, 0.93) infinite !important;
}
.GridKamil {
  float: left;
  min-height: 300px; 
  background-color: white;
  border-radius: 10px;
  margin: 4%;
}
.Counter{

  position: absolute;
  right: 2px;
  top: 2px;
  border-radius: 50px;
}


input[type=number] {
    width: 33.33%;
}
.kamcia{
      float: left;
      width: 100%;
      height: auto;
      display: block;
      // min-height: 100px;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
  
  }
  .KamilaStopka{


  width: 100% !important;
  min-width: 20%;
  min-height: 100px;
    canvas{
     width: 100% !important;
     }
  }
  
 
  .MainCointainer{
  background: $blackColor;
  width:100%;
  margin-top: 3%;
  min-height: 100px;
  }
  .myCanva{
    background-color: white;
    width: 98%;
  }
  
  .FootBasi{
    width: 100%;
    display: inline-block;
    height: 100%;
    min-height: 50px;
    padding: 2%;
    color: aliceblue;
    text-align: center;
    background-color: $blackColor;
    z-index: 9999999999999999;
  }
  
  .FootBasi {

    a{
      width: 20%;
      float: left;
      display: block;
    }
   
        p{
          padding: 0;
          width: 100%;
          margin: 0;
          font-family: $font-family2 !important;
          letter-spacing: 2px;
          color: yellow;
          }
  }
  .KamilaMenu{ 

    width: 100%;
    max-width: 100%;

    li{
    list-style: none;
    width: 25%;
    float: left;
    padding: 1%;
    background: none !important;
    }
    canvas{
      background: none !important;

    }
    a{
      background: none !important;
      text-decoration: none !important;
    }
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  .KamciaButton{
    margin-left: 1%;
    margin-right: 1%;
  }
  .ShopiMajster{
    margin: 0;
    padding: 0;
    }
  .LogoiMajster {
    background: none;
    text-align: center;
    width: 100%;
    left: 0;
    animation: fill 0.5s ease forward 3s;
    path:nth-child(1){ stroke-dasharray: 50px; stroke-dashoffset: 10px;animation: line-anim 2s ease forwards 0.6s}
    path:nth-child(2){ stroke-dasharray: 50px; stroke-dashoffset: 10px;animation: line-anim 2s ease forwards 0.9s}
    path:nth-child(3){ stroke-dasharray: 50px; stroke-dashoffset: 10px;animation: line-anim 2s ease forwards 1.2}
    path:nth-child(4){ stroke-dasharray: 50px; stroke-dashoffset: 10px;animation: line-anim 2s ease forwards 1.5s}
    path:nth-child(5){ stroke-dasharray: 50px; stroke-dashoffset: 10px;animation: line-anim 2s ease forwards 1.8s}
    path:nth-child(6){ stroke-dasharray: 50px; stroke-dashoffset: 10px;animation: line-anim 2s ease forwards 2.1s}
    path:nth-child(7){ stroke-dasharray: 50px; stroke-dashoffset: 10px;animation: line-anim 2s ease forwards 2.4s}
    path:nth-child(8){ stroke-dasharray: 50px; stroke-dashoffset: 10px;animation: line-anim 2s ease forwards 2.7s}
    rect{
    background: none;
    fill: none;
    }
    svg {
    background: none;
    fill: none;
    width: 40%;
    max-height: 50px;
    }
    
}
  .App {
  
    text-align: center;
  
  
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .div1 {
    background-color: red;
    height: 400px;
    width: 100%;
  }
  
  .div2 {
    background-color: green;
    height: 400px;
    width: 100%;
  }
  
  .div3 {
    background-color: blue;
    height: 400px;
    width: 100%;
  }
  
  .bottomSpacing {
    height: 500px;
  }

  .nav-links{
  li{
  img{
    width: 80%;
    margin: 1%;
    }
  }  
} 
    .AdminMajster{
      .KamilaForm{
        z-index: 999;
        position: relative;
        text-align: center;
        h1{
          margin-top: 5%;
          margin-bottom: 5%;
        }
      } 
      h2{
        text-align: center;
        width: 30%;
        margin-top: 5%;
        color: crimson;
      }
      
    }

    
  .topSpacing {
    height: 500px;
    margin: 10%;
    font-size: 40px;
    background-color: grey;
  }
  